body{
    background-color: white;
    

    /*center contents*/
    display: flex;
    align-items: center;
    justify-content: center;

    
}

#list_container
{
    /*border*/
    border-radius: 40px;
    box-shadow: -2px -2px 15px lightgray;
    
    /*container size*/
    width: 95%;
    height: 95%;
    padding: 15px;

    
}

#btn-container
{
    /*align elements to the right*/
    display: flex;
    justify-content: flex-end;
}

/*primary button class*/
.btn-primary
{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: #0047AB;
    border: none;
    margin: 10px;
}

/*primary button class: hover*/
.btn-primary:hover
{
    cursor:pointer;
    box-shadow: -2px -2px 15px #0047AB;
}
